{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Cita{% endblock title %}

{% block heading %}Crear Nueva Cita{% endblock heading %}

{% block content %}
<h2>Crear Nueva Cita</h2>
<form method="post">
    {% csrf_token %}
    <label for="client">Cliente:</label>
    <select name="client" id="client" required>
        {% for client in clients %}
        <option value="{{ client.id }}">{{ client.name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="vet">Veterinario:</label>
    <select name="vet" id="vet" required>
        {% for vet in vets %}
        <option value="{{ vet.id }}">{{ vet.name }}</option>
        {% endfor %}
    </select><br><br>

    <label for="date">Fecha:</label>
    <input type="date" name="date" id="date" required><br><br>

    <label for="time">Hora:</label>
    <input type="time" name="time" id="time" required><br><br>

    <button type="submit">Crear Cita</button>
</form>
{% endblock content %}
