{% extends 'base.html' %}
{% load static %}

{% if item %}
    {% block title %}Actualizar Producto{% endblock title %}
    {% block heading %}Actualizar Producto{% endblock heading %}
{% else %}
    {% block title %}Agregar Producto{% endblock title %}
    {% block heading %}Agregar Nuevo Producto{% endblock heading %}
{% endif %}

{% block content %}
{% if item %}
    <h2>Actualizar Producto</h2>
{% else %}
    <h2>Agregar Nuevo Producto</h2>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" value="{{ item.name|default_if_none:'' }}" required><br><br>

    <label for="stock">Cantidad en Stock:</label>
    <input type="number" name="stock" id="stock" value="{{ item.stock|default_if_none:'' }}" min="0" required><br><br>

    <label for="supplier">Proveedor:</label>
    <input type="text" name="supplier" id="supplier" value="{{ item.supplier|default_if_none:'' }}" required><br><br>

    <label for="expiration_date">Fecha de Expiración:</label>
    <input type="date" name="expiration_date" id="expiration_date" value="{{ item.expiration_date|default_if_none:'' }}" required><br><br>

    <button type="submit">{% if item %}Actualizar{% else %}Agregar{% endif %} Producto</button>
</form>
{% endblock content %}
