{% extends 'base.html' %}
{% load static %}

{% block title %}Mi Perfil - Veterinaria Pochita{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock extra_head %}
{% block heading %}{% endblock heading %}

{% block content %}
<div class="profile-container">
    <div class="profile-section">
        <h3>Información Personal</h3>
        <div class="info-grid">
            <div class="info-item">
                <div class="info-label">Nombre</div>
                <div class="info-value">{{ user.client.name }}</div>
            </div>
            <div class="info-item">
                <div class="info-label">Usuario</div>
                <div class="info-value">{{ user.username }}</div>
            </div>
            <div class="info-item">
                <div class="info-label">Correo</div>
                <div class="info-value">{{ user.email }}</div>
            </div>
            <div class="info-item">
                <div class="info-label">Teléfono</div>
                <div class="info-value">{{ user.client.phone_number }}</div>
            </div>
            <div class="info-item">
                <div class="info-label">Dirección</div>
                <div class="info-value">{{ user.client.address }}</div>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <h3>Mis Mascotas</h3>
        <div class="pet-cards">
            {% for pet in user.client.pet_set.all %}
            <div class="pet-card">
                {% if pet.image %}
                    <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="pet-image">
                {% endif %}
                <div class="info-item">
                    <div class="info-label">Nombre</div>
                    <div class="info-value">{{ pet.name }}</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Especie</div>
                    <div class="info-value">{{ pet.species }}</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Raza</div>
                    <div class="info-value">{{ pet.breed }}</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Edad</div>
                    <div class="info-value">{{ pet.age }} años</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
