{% extends 'base.html' %}

{% load static %}

{% block title %}Veterinaria Pochita{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock extra_head %}

{% block heading %}{% endblock heading %}

{% block content %}
<div class="wrapper">
    <form method="post" id="loginForm">
        {% csrf_token %}
        <h2>Iniciar Sesión</h2>
        <div class="input-field">
            <input type="text" name="username" required>
            <label>Ingrese el usuario</label>
        </div>
        <div class="input-field">
            <input type="password" name="password" required>
            <label>Ingrese su contraseña</label>
        </div>
        <div class="forget">
            <label for="remember">
                <input type="checkbox" id="remember">
                <p>Recuérdame</p>
            </label>
        </div>
        
        <div class="error-message" id="error-msg">Credenciales Incorrectas/Inexistentes, intente nuevamente.</div>
        
        <button type="submit">Iniciar Sesión</button>
        <div class="register">
            <p>No está registrado? <a href="{% url 'register_client' %}">Únete ahora!</a></p>
        </div>
    </form>
</div>
{% endblock content %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    {% if form.errors %}
        $('#error-msg').addClass('visible');
    {% endif %}
});
</script>
{% endblock extra_scripts %}
