{% extends 'base.html' %}

{% block title %}Cerrar Sesión{% endblock %}

{% block heading %}{% endblock heading %}

{% block content %}
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <h2>¿Desea cerrar sesión?</h2>
        <p>¿Está seguro que desea salir de su cuenta?</p>
        <button type="submit" class="btn btn-primary">Sí, cerrar sesión</button>
        <div class="register">
            <p>Volver al <a href="{% url 'landing_page' %}">Inicio</a></p>
        </div>
    </form>
</div>
{% endblock %}