{% extends 'base.html' %}
{% load static %}

{% block title %}Detalle de la Factura{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/tablas.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="table-container">
    <div class="header-actions">
        <h2>Factura N° {{ invoice.id }}</h2>
    </div>

    <table>
        <tbody>
            <tr>
                <td><strong>Cliente:</strong></td>
                <td>{{ invoice.client.name }}</td>
            </tr>
            <tr>
                <td><strong>Fecha:</strong></td>
                <td>{{ invoice.date }}</td>
            </tr>
            <tr>
                <td><strong>Total:</strong></td>
                <td>${{ invoice.total_amount }}</td>
            </tr>
            <tr>
                <td><strong>Items:</strong></td>
                <td>{{ invoice.items }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-buttons">
        <a href="{% url 'list_invoices' %}" class="btn-view">Volver al Listado</a>
    </div>
</div>
{% endblock content %}
